:root {
	--branding-color: #6c63ff;
	--font-heading: "Playfair Display", serif;
	--font-default: "Poppins", sans-serif;
	--seconary-color: #f9f7fe;
}
body {
	font-family: var(--font-heading);
}

p {
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-primary);
	font-weight: bold;
	color: black;
}
h2 {
	font-family: var(--font-default);
}

h1 {
	font-size: 96px;
	line-height: 2;
}
h2 {
	font-size: 64px;
}
.hero {
	background: var(--seconary-color);
	text-align: center;
	margin: 160px 20px;
	margin: 0 auto;
}
.hero p {
	font-family: var(--font-default);
	font-weight: normal;
	font-size: 24px;
	margin: 0;
	color: #272142;
}
.btn-branding {
	border-radius: 4px;
	background: var(--branding-collor);
	color: white;
	font-size: 18px;
	line-height: 27px;
	padding: 15px 30px;
}
.btn-branding-outline {
	border-radius: 4px;
	color: var(--branding-color);
	border: 1px solid var(--branding-color);
	font-size: 18px;
	line-height: 27px;
	padding: 15px 30px;
}
.proj-desc {
	padding: 120px 60px;
}
@media (max-width: 960px) {
	.proj-desc {
		padding: 0;
		text-align: center;
	}
	h1 {
		font-style: 16px;
	}
}
