:root {
	--branding-color: #6c63ff;
	--font-heading: "Playfair Display", serif;
	--font-default: "Poppins", sans-serif;
	--seconary-color: #f9f7fe;
}
body {
	font-family: var(--font-heading);
}

p {
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
}
img {
	box-shadow: 2px 2px 10px rgb(205, 199, 199);
	border-radius: 8px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-primary);
	font-weight: bold;
	color: black;
}
h4 {
	font-size: 48px;
}
p {
	font-family: var(--font-default);
	font-weight: bold;
	color: black;
}
h1 {
	font-size: 96px;
	line-height: 1.5;
}
h2 {
	font-size: 64px;
}
nav {
	padding: 20px 0;
}
.logo {
	max-width: 150px;
	max-height: 70px;
}
nav li {
	font-size: 20px;
	display: inline;
	list-style: none;
	line-height: 42px;
	margin-left: 15px;
}
nav a {
	text-decoration: none;
	color: #272142;
}
nav a:hover,
nav li.active a {
	color: var(--branding-color);
	transition: all 100ms ease-in-out;
}

.hero {
	background: var(--seconary-color);
	text-align: center;
	margin: 80px 20px;
	margin: 0 auto;
	text-shadow: 2px 2px 5px #f0ebeb;
}
.hero p {
	font-family: var(--font-default);
	font-weight: bold;
	font-size: 36px;
	margin: 0;
	color: #272142;
}
.hero h2 {
	font-family: var(--font-default);
	font-size: 24px;
	font-weight: normal;
	line-height: 1.5;
}
.content-container {
	text-align: center;
	margin: 0 auto;
	padding: 60px 20px;
}
.content {
	margin: 30px;
}
.content h1 {
	font-size: 64px;
	line-height: 80px;
}
.content h2 {
	font-size: 18px;
	font-family: var(--font-default);
}
.content h3 {
	font-size: 24px;
	font-family: var(--font-default);
}

.mini-desc {
	/* background: rgba(246, 241, 241, 0.5); */
	box-shadow: 2px 10px 30px rgb(248, 246, 246);
	border-radius: 5px;
}

.btn-branding {
	border-radius: 4px;
	background: var(--branding-color);
	color: white;
	font-size: 18px;
	line-height: 27px;
	padding: 15px 30px;
}
.btn-branding:hover {
	border: 1px solid var(--branding-color);
}

.btn-branding-outline {
	border-radius: 4px;
	color: var(--branding-color);
	border: 1px solid var(--branding-color);
	font-size: 18px;
	line-height: 27px;
	padding: 15px 30px;
	box-shadow: 1px 1px 5px gray;
	text-decoration: none;
}
.proj-desc {
	padding: 120px 60px;
}

footer .email-link {
	font-family: var(--font-default);
	text-decoration: none;
	text-align: center;
	color: black;
	font-size: 24px;
}
footer .email-link:hover {
	color: var(--branding-color);
}
footer div {
	margin: 30px 0;
}
footer .social-link a {
	margin: 0 20px;
	color: var(--branding-color);
	background: var(--seconary-color);
	padding: 10px 15px;
	border-radius: 50%;
	font-size: 18px;
	transition: all 200ms ease-in-out;
}
footer .social-link a:hover {
	color: white;
	background: var(--branding-color);
}
footer .contact-box {
	background: var(--seconary-color);
	padding: 30px 80px;
	border-radius: 10px;
}
@media (max-width: 960px) {
	.proj-desc {
		padding: 0;
		text-align: center;
	}

	h1 {
		font-size: 44px;
		line-height: 2;
	}
	h2 {
		font-size: 36px;
	}
	.btn-branding-outline {
		padding: 10px 20px;
	}
	.content-container {
		text-align: center;
		padding: 0;
	}
	nav a {
		font-size: 13px;
	}
}
